body{
	
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}



#tela_de_titulo{
   width: 40vw;
   height: 6vw;
   flex: 1;
   background-color: azure; 
   margin: 0 auto ;
   margin-top: 10px;

}


#tela_do_jogo{

   width: 60vw;
   height: 40vw;
   background-color: black;
}

h3{

   color: black;
   font-family: VCR OSD Mono;
   text-align: center;
   font-size: 28px;


}


.btn1{

   font-family: arial;
   font-size: 15px;
   padding: 10px 20px 10px 20px;
   text-transform: uppercase;
   font-weight: 700px;
   cursor: pointer; 
 
}
.btn2{

   font-family: arial;
   font-size: 15px;
   padding: 10px 20px 10px 20px;
   text-transform: uppercase;
   font-weight: 700px;
   cursor: pointer; 
  
}
.btn3{

   font-family: arial;
   font-size: 15px;
   padding: 10px 20px 10px 20px;
   text-transform: uppercase;
   font-weight: 700px;
   cursor: pointer; 

}

#centralizar{
   position:absolute; 
   top:94%;
   left: 38%;
  
}

#center_titulo{
   position:absolute; 
   top:1%;
   left: 41%;
  
}
